In [ ]:
# -----------------------------------------------------------------------------------
# 파일명       : Data_Preprocessing.ipynb
# 설명         : 시계열 데이터를 Sliding Window 방식으로 패턴화     
# 작성자       : 이민하
# 작성일       : 2024-11-12
# 
# 사용 모듈    :
# - pandas       # 데이터프레임 기반 데이터 처리
# -----------------------------------------------------------------------------------
# >> 주요 기능
# - Sliding Window 알고리즘으로 데이터 패턴화
# - 모델별로 최적의 데이터 형태로 변형
#
# >> 업데이트 내역
# [2024-11-12] 일주일 단위의 Window로 패턴화
# [2024-11-13] 2주일 단위의 Window로 패턴화
# [2024-11-28] 일주일 + 1/4일 단위의 Window로 패턴화 (이상 데이터 제거)
# [2024-12-05] 일주일 단위의 Window로 데이터 변화량 패턴화 (이상 데이터 제거)
# [2024-12-08] 일주일 단위의 Window로 패턴화 (이상 데이터 제거)
# -----------------------------------------------------------------------------------

In [ ]:
# 데이터프레임 기반 데이터 처리
import pandas as pd

In [ ]:
# 데이터 경로 설정
DATA_PATH = '../Data/수도전기사용량_3개월분_수정본.xlsx'

# 이상 데이터가 제거된 엑셀 파일 -> 데이터프레임으로 불러오기
df1 = pd.read_excel(DATA_PATH, header = 1)
df2 = pd.read_excel(DATA_PATH, header = 1, sheet_name = '수도사용량_3개월분')

df1

,Unnamed: 0,2023-06-01 00:00:00,2023-06-01 00:00:00.1,2023-06-01 00:00:00.2,2023-06-01 00:00:00.3,2023-06-02 00:00:00,2023-06-02 00:00:00.1,2023-06-02 00:00:00.2,2023-06-02 00:00:00.3,2023-06-03 00:00:00,...,Unnamed: 385,Unnamed: 386,Unnamed: 387,Unnamed: 388,Unnamed: 389,Unnamed: 390,Unnamed: 391,Unnamed: 392,Unnamed: 393,Unnamed: 394
0,세대,1.00,2.00,3.00,4.00,1.00,2.00,3.00,4.00,1.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1호,1.23,1.45,1.73,1.62,1.31,1.48,1.74,1.71,1.30,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2호,1.35,1.35,1.35,1.34,1.36,1.42,1.41,1.38,1.36,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3호,1.36,1.44,1.42,1.36,1.36,1.42,1.43,1.39,1.32,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4호,1.23,1.44,1.73,1.61,1.33,1.47,1.73,1.71,1.32,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
997,997호,1.29,1.69,1.57,1.26,1.36,1.64,1.59,1.48,1.72,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
998,998호,1.44,1.64,1.55,1.45,1.56,1.45,1.71,1.63,1.34,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
999,999호,1.23,1.45,1.73,1.62,1.31,1.48,1.74,1.71,1.32,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1000,1000호,1.45,1.64,1.79,1.34,1.35,1.46,1.49,1.33,1.44,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
df2

,Unnamed: 0,2023-06-01 00:00:00,2023-06-01 00:00:00.1,2023-06-01 00:00:00.2,2023-06-01 00:00:00.3,2023-06-02 00:00:00,2023-06-02 00:00:00.1,2023-06-02 00:00:00.2,2023-06-02 00:00:00.3,2023-06-03 00:00:00,...,Unnamed: 598,Unnamed: 599,Unnamed: 600,Unnamed: 601,Unnamed: 602,Unnamed: 603,Unnamed: 604,Unnamed: 605,Unnamed: 606,Unnamed: 607
0,세대,1,2,3,4,1,2,3,4,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1호,30,120,210,410,32,184,180,260,35,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2호,58,218,290,105,10,68,38,263,78,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3호,28,184,150,38,62,151,140,145,78,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4호,14,169,89,55,55,130,135,138,28,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
996,996호,188,95,46,139,214,247,53,160,210,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
997,997호,188,95,46,139,214,247,53,160,210,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
998,998호,218,350,38,183,190,230,98,143,253,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
999,999호,43,136,189,84,54,141,188,95,46,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1000,1000호,10,68,38,263,78,158,290,300,280,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# 결측치 처리
df1.drop(1001, axis = 0, inplace = True)

df1.dropna(axis = 1, inplace = True)
df2.dropna(axis = 1, inplace = True)

df1

,Unnamed: 0,2023-06-01 00:00:00,2023-06-01 00:00:00.1,2023-06-01 00:00:00.2,2023-06-01 00:00:00.3,2023-06-02 00:00:00,2023-06-02 00:00:00.1,2023-06-02 00:00:00.2,2023-06-02 00:00:00.3,2023-06-03 00:00:00,...,2023-08-29 00:00:00.2,2023-08-29 00:00:00.3,2023-08-30 00:00:00,2023-08-30 00:00:00.1,2023-08-30 00:00:00.2,2023-08-30 00:00:00.3,2023-08-31 00:00:00,2023-08-31 00:00:00.1,2023-08-31 00:00:00.2,2023-08-31 00:00:00.3
0,세대,1.00,2.00,3.00,4.00,1.00,2.00,3.00,4.00,1.00,...,3.00,4.00,1.00,2.00,3.00,4.00,1.00,2.00,3.00,4.00
1,1호,1.23,1.45,1.73,1.62,1.31,1.48,1.74,1.71,1.30,...,1.66,1.64,1.27,1.29,1.69,1.57,1.26,1.36,1.64,1.59
2,2호,1.35,1.35,1.35,1.34,1.36,1.42,1.41,1.38,1.36,...,1.59,1.48,1.41,1.47,1.54,1.48,1.41,1.47,1.64,1.51
3,3호,1.36,1.44,1.42,1.36,1.36,1.42,1.43,1.39,1.32,...,1.64,1.79,1.34,1.35,1.46,1.49,1.35,1.42,1.47,1.36
4,4호,1.23,1.44,1.73,1.61,1.33,1.47,1.73,1.71,1.32,...,1.73,1.71,1.32,1.49,1.94,1.68,1.23,1.39,1.65,1.61
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
996,996호,1.45,1.73,1.62,1.31,1.48,1.74,1.71,1.30,1.49,...,1.68,1.36,1.43,1.66,1.79,1.44,1.64,1.54,1.46,1.34
997,997호,1.29,1.69,1.57,1.26,1.36,1.64,1.59,1.48,1.72,...,1.46,1.36,1.45,1.69,1.79,1.35,1.43,1.69,1.75,1.44
998,998호,1.44,1.64,1.55,1.45,1.56,1.45,1.71,1.63,1.34,...,1.79,1.35,1.35,1.46,1.49,1.25,1.45,1.73,1.62,1.35
999,999호,1.23,1.45,1.73,1.62,1.31,1.48,1.74,1.71,1.32,...,1.49,1.25,1.45,1.73,1.62,1.23,1.24,1.26,1.57,1.34
1000,1000호,1.45,1.64,1.79,1.34,1.35,1.46,1.49,1.33,1.44,...,1.66,1.35,1.45,1.69,1.74,1.44,1.64,1.53,1.45,1.56

In [ ]:
# 불필요한 컬럼 제거 (0 컬럼)
df1.drop(df1.columns[0], axis = 1, inplace = True)
df2.drop(df2.columns[0], axis = 1, inplace = True)

In [ ]:
# 6시간 단위의 이름 리스트 생성
column_name = pd.date_range('2023-06-01', '2023-09-01', freq = '6H')
column_name = column_name[:-1]

column_name

DatetimeIndex(['2023-06-01 00:00:00', '2023-06-01 06:00:00',
               '2023-06-01 12:00:00', '2023-06-01 18:00:00',
               '2023-06-02 00:00:00', '2023-06-02 06:00:00',
               '2023-06-02 12:00:00', '2023-06-02 18:00:00',
               '2023-06-03 00:00:00', '2023-06-03 06:00:00',
               ...
               '2023-08-29 12:00:00', '2023-08-29 18:00:00',
               '2023-08-30 00:00:00', '2023-08-30 06:00:00',
               '2023-08-30 12:00:00', '2023-08-30 18:00:00',
               '2023-08-31 00:00:00', '2023-08-31 06:00:00',
               '2023-08-31 12:00:00', '2023-08-31 18:00:00'],
              dtype='datetime64[ns]', length=368, freq='6H')

In [ ]:
# 6시간 단위의 이름으로 컬럼명 변경
df1.columns = column_name
df2.columns = column_name

df1.columns

DatetimeIndex(['2023-06-01 00:00:00', '2023-06-01 06:00:00',
               '2023-06-01 12:00:00', '2023-06-01 18:00:00',
               '2023-06-02 00:00:00', '2023-06-02 06:00:00',
               '2023-06-02 12:00:00', '2023-06-02 18:00:00',
               '2023-06-03 00:00:00', '2023-06-03 06:00:00',
               ...
               '2023-08-29 12:00:00', '2023-08-29 18:00:00',
               '2023-08-30 00:00:00', '2023-08-30 06:00:00',
               '2023-08-30 12:00:00', '2023-08-30 18:00:00',
               '2023-08-31 00:00:00', '2023-08-31 06:00:00',
               '2023-08-31 12:00:00', '2023-08-31 18:00:00'],
              dtype='datetime64[ns]', length=368, freq='6H')

In [10]:
df1[df1.columns[0:12]]

,2023-06-01 00:00:00,2023-06-01 06:00:00,2023-06-01 12:00:00,2023-06-01 18:00:00,2023-06-02 00:00:00,2023-06-02 06:00:00,2023-06-02 12:00:00,2023-06-02 18:00:00,2023-06-03 00:00:00,2023-06-03 06:00:00,2023-06-03 12:00:00,2023-06-03 18:00:00
0,1.00,2.00,3.00,4.00,1.00,2.00,3.00,4.00,1.00,2.00,3.00,4.00
1,1.23,1.45,1.73,1.62,1.31,1.48,1.74,1.71,1.30,1.49,1.94,1.68
2,1.35,1.35,1.35,1.34,1.36,1.42,1.41,1.38,1.36,1.42,1.48,1.39
3,1.36,1.44,1.42,1.36,1.36,1.42,1.43,1.39,1.32,1.41,1.49,1.41
4,1.23,1.44,1.73,1.61,1.33,1.47,1.73,1.71,1.32,1.49,1.94,1.68
...,...,...,...,...,...,...,...,...,...,...,...,...
996,1.45,1.73,1.62,1.31,1.48,1.74,1.71,1.30,1.49,1.94,1.68,1.26
997,1.29,1.69,1.57,1.26,1.36,1.64,1.59,1.48,1.72,1.63,1.37,1.43
998,1.44,1.64,1.55,1.45,1.56,1.45,1.71,1.63,1.34,1.31,1.48,1.54
999,1.23,1.45,1.73,1.62,1.31,1.48,1.74,1.71,1.32,1.49,1.94,1.68
1000,1.45,1.64,1.79,1.34,1.35,1.46,1.49,1.33,1.44,1.45,1.59,1.36

In [ ]:
# 불필요한 행 삭제 (0 행)
df1.drop(0, axis = 0, inplace = True)
df2.drop(0, axis = 0, inplace = True)

df1

,2023-06-01 00:00:00,2023-06-01 06:00:00,2023-06-01 12:00:00,2023-06-01 18:00:00,2023-06-02 00:00:00,2023-06-02 06:00:00,2023-06-02 12:00:00,2023-06-02 18:00:00,2023-06-03 00:00:00,2023-06-03 06:00:00,...,2023-08-29 12:00:00,2023-08-29 18:00:00,2023-08-30 00:00:00,2023-08-30 06:00:00,2023-08-30 12:00:00,2023-08-30 18:00:00,2023-08-31 00:00:00,2023-08-31 06:00:00,2023-08-31 12:00:00,2023-08-31 18:00:00
1,1.23,1.45,1.73,1.62,1.31,1.48,1.74,1.71,1.30,1.49,...,1.66,1.64,1.27,1.29,1.69,1.57,1.26,1.36,1.64,1.59
2,1.35,1.35,1.35,1.34,1.36,1.42,1.41,1.38,1.36,1.42,...,1.59,1.48,1.41,1.47,1.54,1.48,1.41,1.47,1.64,1.51
3,1.36,1.44,1.42,1.36,1.36,1.42,1.43,1.39,1.32,1.41,...,1.64,1.79,1.34,1.35,1.46,1.49,1.35,1.42,1.47,1.36
4,1.23,1.44,1.73,1.61,1.33,1.47,1.73,1.71,1.32,1.49,...,1.73,1.71,1.32,1.49,1.94,1.68,1.23,1.39,1.65,1.61
5,1.22,1.35,1.67,1.57,1.31,1.48,1.73,1.76,1.33,1.44,...,1.66,1.64,1.27,1.29,1.69,1.57,1.26,1.36,1.64,1.59
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
996,1.45,1.73,1.62,1.31,1.48,1.74,1.71,1.30,1.49,1.94,...,1.68,1.36,1.43,1.66,1.79,1.44,1.64,1.54,1.46,1.34
997,1.29,1.69,1.57,1.26,1.36,1.64,1.59,1.48,1.72,1.63,...,1.46,1.36,1.45,1.69,1.79,1.35,1.43,1.69,1.75,1.44
998,1.44,1.64,1.55,1.45,1.56,1.45,1.71,1.63,1.34,1.31,...,1.79,1.35,1.35,1.46,1.49,1.25,1.45,1.73,1.62,1.35
999,1.23,1.45,1.73,1.62,1.31,1.48,1.74,1.71,1.32,1.49,...,1.49,1.25,1.45,1.73,1.62,1.23,1.24,1.26,1.57,1.34
1000,1.45,1.64,1.79,1.34,1.35,1.46,1.49,1.33,1.44,1.45,...,1.66,1.35,1.45,1.69,1.74,1.44,1.64,1.53,1.45,1.56

In [ ]:
# 1000가구의 3달치 데이터 -> 가구 구분 없이 일주일 단위의 패턴으로 변경
def slicing(data, step, max_length, num):

    # 빈 데이터프레임 생성 (열 갯수는 step 만큼)
    df = pd.DataFrame(columns = range(0, step))

    # 다음 행으로 이동하기 위한 index
    diff = max_length - step

    # List Slicing을 활용해 데이터 변경
    for i in range(num):
        for j in range(diff):
            df.loc[i * diff + j] = list(data.iloc[i][data.columns[j : j + step + 1]])
    
    return df

In [ ]:
# 전기 데이터 -> 일주일 단위의 패턴으로 변경
electric_df = slicing(df1, 28, 368, 1000)
electric_df

,0,1,2,3,4,5,6,7,8,9,...,18,19,20,21,22,23,24,25,26,27
0,1.23,1.45,1.73,1.62,1.31,1.48,1.74,1.71,1.30,1.49,...,1.77,1.68,1.20,1.42,1.88,1.67,1.24,1.39,1.67,1.60
1,1.45,1.73,1.62,1.31,1.48,1.74,1.71,1.30,1.49,1.94,...,1.68,1.20,1.42,1.88,1.67,1.24,1.39,1.67,1.60,1.26
2,1.73,1.62,1.31,1.48,1.74,1.71,1.30,1.49,1.94,1.68,...,1.20,1.42,1.88,1.67,1.24,1.39,1.67,1.60,1.26,1.41
3,1.62,1.31,1.48,1.74,1.71,1.30,1.49,1.94,1.68,1.26,...,1.42,1.88,1.67,1.24,1.39,1.67,1.60,1.26,1.41,1.68
4,1.31,1.48,1.74,1.71,1.30,1.49,1.94,1.68,1.26,1.39,...,1.88,1.67,1.24,1.39,1.67,1.60,1.26,1.41,1.68,1.59
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
340995,1.45,1.73,1.62,1.31,1.48,1.74,1.71,1.32,1.49,1.94,...,1.46,1.34,1.46,1.93,1.66,1.35,1.45,1.69,1.74,1.44
340996,1.73,1.62,1.31,1.48,1.74,1.71,1.32,1.49,1.94,1.68,...,1.34,1.46,1.93,1.66,1.35,1.45,1.69,1.74,1.44,1.64
340997,1.62,1.31,1.48,1.74,1.71,1.32,1.49,1.94,1.68,1.36,...,1.46,1.93,1.66,1.35,1.45,1.69,1.74,1.44,1.64,1.53
340998,1.31,1.48,1.74,1.71,1.32,1.49,1.94,1.68,1.36,1.43,...,1.93,1.66,1.35,1.45,1.69,1.74,1.44,1.64,1.53,1.45
340999,1.48,1.74,1.71,1.32,1.49,1.94,1.68,1.36,1.43,1.66,...,1.66,1.35,1.45,1.69,1.74,1.44,1.64,1.53,1.45,1.56

In [ ]:
# CSV 파일로 저장
electric_df.to_csv('../Data/electric_df_28_days.csv')

In [ ]:
# 수도 데이터 -> 일주일 단위의 패턴으로 변경
water_df = slicing(df2, 27, 368, 1000)
water_df

,0,1,2,3,4,5,6,7,8,9,...,18,19,20,21,22,23,24,25,26,27
0,30,120,210,410,32,184,180,260,35,145,...,188,95,46,139,204,198,53,162,210,150
1,120,210,410,32,184,180,260,35,145,203,...,95,46,139,204,198,53,162,210,150,51
2,210,410,32,184,180,260,35,145,203,216,...,46,139,204,198,53,162,210,150,51,169
3,410,32,184,180,260,35,145,203,216,43,...,139,204,198,53,162,210,150,51,169,204
4,32,184,180,260,35,145,203,216,43,136,...,204,198,53,162,210,150,51,169,204,169
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
340995,230,169,47,122,218,350,110,183,190,230,...,58,218,290,105,10,68,38,263,78,158
340996,169,47,122,218,350,110,183,190,230,98,...,218,290,105,10,68,38,263,78,158,290
340997,47,122,218,350,110,183,190,230,98,143,...,290,105,10,68,38,263,78,158,290,300
340998,122,218,350,110,183,190,230,98,143,253,...,105,10,68,38,263,78,158,290,300,280
340999,218,350,110,183,190,230,98,143,253,198,...,10,68,38,263,78,158,290,300,280,160

In [ ]:
# CSV 파일로 저장
water_df.to_csv('../Data/water_df_28_days.csv')